

.vBox{
    -fx-border-radius:3px;
    -fx-padding:8px;
    -fx-border-color:black;
    -fx-cursor: hand;
}

.vBox:hover{
     -fx-background-color: #CCE6FF;

}

.artistImage{

}
.titleLabel {

    -fx-font-family: HACKED;
    -fx-font-size:80px;
}
.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;


}

.whitePane{
    -fx-background:rgb(255, 255, 255);
}
.ingoPane{
    -fx-background-image: url("ingoBackground.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-background-color:red;
}
.ingoPane .vBox {
    -fx-background-color:white;
}
.ingoPane .vBox:hover {
    -fx-background-color:#CCE6FF;
}
.ingoPane .artistImage {
    -fx-background-image: url(ingo1.jpg);
}

.button {
    -fx-text-fill: #e4f3fc;
    -fx-background-radius: 7, 6, 5;
    -fx-padding: 10;
    -fx-base: #2d4b8e
}

.button:hover{
    -fx-base: #395bae;
    -fx-cursor:hand;
}

.button:selected{
    -fx-base: #223768;
     -fx-background-color: -fx-inner-border, -fx-outer-border, -fx-body-color;
}



.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#3A5080 0%, #3A5080 25%, #284480 75%, #284480 100%);
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #3D578D;
    -fx-text-fill: white;
}














