

.buttonSpot {
    -fx-background-color:
    -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
}
.vBox{
    -fx-border-radius:3px;
    -fx-padding:8px;
    -fx-border-color:black;
    -fx-cursor: hand;
}

.vBox:hover{
     -fx-background-color: #CCE6FF;

}

.artistImage{

}
.titleLabel {

    -fx-font-family: HACKED;
    -fx-font-size:80px;
}
.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;

}

.whitePane{
    -fx-background:rgb(255, 255, 255);
}
.ingoPane{
    -fx-background-image: url("ingoBackground.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-background-color:red;
}
.ingoPane .vBox {
    -fx-background-color:white;
}
.ingoPane .vBox:hover {
    -fx-background-color:#CCE6FF;
}


